.table_row > th,.table_row> td{
    text-align: center;
    vertical-align: middle;
}
.table_head>tr>th{
    text-align: center;
}
.symbol{
    color:gray;
    font-weight: bolder;
}
.up_color{
    color: #16c784;
}
.up_color::before{
    content: "\25be";
    transform:rotate(180deg);
    color:#16c784;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.down_color{
    color: #ea3943;
}
.down_color::before{
    content: "\25be";
    color:#ea3943;
}
.up_color,.down_color{
    font-weight:bold;
    display:flex;
}
.table_responsive{
    min-height: calc(100vh - 208px);
}