.registerFormParrent {
    background: #FFFFFF;
    height: calc(100vh - 64px);
    border-radius: 16px 0px 0px 16px;
    padding: 32px !important;
    position: relative;
}

.activeBtn {
    background: #388AEA;
    border-radius: 16px;
    border: none !important;
    color: #FFFFFF !important;
    width: 126px;
    height: 42px;
    position: absolute;
    bottom: 28px;
    left: 28px;
}

.deactiveBtn {
    background: #CECECE;
    border-radius: 16px;
    border: none !important;
    color: #FFFFFF;
    width: 126px;
    height: 42px;
    position: absolute;
    bottom: 28px;
    left: 28px;
}


.stepNumber {
    font-family: 'Yekan Bakh Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #388AEA;
}

.fill_text {
    font-family: 'Yekan Bakh Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    color: #1E1E1E;
}

.endLine {
    position: absolute;
    bottom: 80px;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 80px);
}

.children_container {
    margin-top: 15px !important;
}

.prevLink {
    text-decoration: none !important;
    position: absolute;
    bottom: 42px;
    right: 32px;
}