.sidebar {
    background: #388AEA;
    height: calc(100vh - 64px);
    border-radius: 16px 0px 0px 16px;
    -webkit-border-radius: 16px 0px 0px 16px;
    -moz-border-radius: 16px 0px 0px 16px;
    -ms-border-radius: 16px 0px 0px 16px;
    -o-border-radius: 16px 0px 0px 16px;
}

.logo {
    margin: 49px 0 24px 0 !important;
    width: 91px;
    height: 84px;
    background: #EA8E38;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_title {
    font-family: 'Yekan Bakh Bold' !important;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 59px !important;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #9CC4F2;
    margin-right: 14px !important;
}

.sidebarSteps {
    color: #91C0F6;
    /* margin-right: 32px !important; */

}

.sidebar_user_information {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin: 12px 0 !important;
}

.sidebar_user_information>p {
    font-family: 'Yekan Bakh Medium' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    color: #91C0F6;
}

.line {
    border-left: 2px solid #FFFFFF;
    height: 34px;
    margin-left: 14px !important;
}

.active>p {
    color: #FFFFFF;
}

.active>.circle {
    border: 3px solid #FFFFFF;
}
@media (max-width:992px){
    .sidebarSteps{
        padding-left: 5px !important;
    }
    .sidebar_user_information {
        align-items: center !important;
    }
}
@media (max-width:768px) {
    .sidebar {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}