.navbar_container {
    background: #FFFFFF;
    border-radius: 10px 16px;
    padding: 5px 16px;
}

.navbar_toggler {
    display: block !important;
}

.navbar_nav {
    direction: rtl;
}

.navbar_collapse {
    justify-content: flex-end;
}

.userInfo {
    width: 96%;
    display: flex;
    justify-content: flex-end;
}

.bell {
    margin-left: 16px !important;
    align-self: center;
    position: relative;
}

.notif {
    width: 11px;
    height: 11px;
    background: #29C57A;
    border-radius: 50%;
    position: absolute;
    top: -3px;
}

@media (max-width:1199px) and (min-width:660px) {
    .userInfo {
        width: 90%;
    }
}
@media (max-width:660px) and (min-width:382px) {
    .userInfo {
        width: 80%;
    }
}
@media (max-width:382px) and (min-width:320px) {
    .userInfo {
        width: 70%;
    }
}