.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px !important;
}

.input {
    border: 1px solid #D6D6D6;
    border-radius: 51px;
    padding: 10px 70px 8px 0;
    width: 452px;
    max-width: 100%;
    direction: rtl;
    font-family: 'Yekan Bakh Medium' !important;
}

.label {
    background: #FFFFFF;
    border-radius: 10px;
    width: fit-content;
    padding-inline: 10px;
    text-align: center;
    font-family: 'Yekan Bakh Bold' !important;
    font-weight: 700;
    font-size: 14px;
}

.label_parrent {
    margin-bottom: -8px !important;
    z-index: 2;
    width: calc(452px - 66px);    
    text-align: end;
}

.input_parrent {
    position: relative;
}

.icon {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 20px;
    border-left: 1px solid #D6D6D6;
    padding-left: 20px;
    height: fit-content;
}

.sendCode {
    font-family: 'Yekan Bakh Bold' !important;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    /* line-height: 25px; */
    text-align: center;
    color: #388AEA;
    position: absolute;
    left: 26px;
    top: 18px;
    cursor: pointer;
}

.sendCodeDetail {
    display: flex;
    background: #E8F4FF;
    border-radius: 51px;
    width: 452px;
    max-width: 100%;
    padding: 18px 10px 16px 10px;
    justify-content: center;
}

.sendCodeDetail>p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    color: #000000;
    margin-left: 10px !important;
    margin-top:5px;
}

.sendCodeParrent {
    /* display: flex; */
    text-align: -webkit-center;
    justify-content: center;
    font-family: 'Yekan Bakh Bold';
}

.sendCodeParrent>p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.confirmNumberBtn {
    width: 130px;
    height: 45px;
    max-width: 100%;
    background: #388AEA;
    border-radius: 16px;
    flex: none;
    /* order: 2; */
    flex-grow: 0;
    color: #FFFFFF;
    border: none;
}

.verifyCode>input {
    width: 50px;
    height: 50px;
    padding: 4px;
    margin: 0 10px 10px 10px !important;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 16px;
    text-align: center;
    font-size: large;
}

.confirmVerify {}

.confirmVerify>p {
    margin: 16px 0 10px 0 !important;
}

@media (max-width:500px) {
    .input {
        width: 290px !important;
    }

    .label_parrent {
        width: calc(290px - 66px);
    }
    .verifyCode>input {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        font-size: medium;
    }
}