* {
    margin: 0 !important;
    bottom: 0;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'Yekan Bakh Fat';
    src: url('/public/fonts/YekanBakh-Fat.eot');
}

@font-face {
    font-family: 'Yekan Bakh Medium';
    src: url('../public/fonts/YekanBakh-Thin.ttf');
}

@font-face {
    font-family: 'Yekan Bakh Bold';
    src: url('../public/fonts/YekanBakh-Bold.ttf');
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('/public/fonts/YekanBakh-Bold.eot');
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('/public/fonts/YekanBakh-Light.eot');
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('/public/fonts/YekanBakh-Heavy.eot');
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('/public/fonts/YekanBakh-Thin.eot');
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('/public/fonts/YekanBakh-Regular.eot');
}

@font-face {
    font-family: 'Yekan Bakh Hairline';
    src: url('/public/fonts/YekanBakh-Hairline.eot');
}

.registerLayout {
    background: #E8F4FF;
    /* min-height: calc(100vh - 64px); */
    height: 100%;
    padding: 32px 32px 32px 33px;
}

.dropdown-toggle::after {
    content: url(../public/assets/register/downarrow.png) !important;
    border: none !important;
}

/* Map modal */
.modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    width: 100% !important;
}

.leaflet-container {
    top: 0 !important;
    /* width: 818px !important; */
    height: 528px !important;
}

/*  Map modal */

/* place-information */
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #FFFFFF !important;
    color: #D6D6D6 !important;
    border-color: none !important;
}

/* place-information */

/* dashboard   */
.nav-link.active {
    color: #FFFFFF !important;
}

.dashboard-container {
    padding: 32px;
    background: #E8F4FF;
    min-height: 100vh;
}

.swiper-button-prev::after {
    content: url('../public/assets/dashboard/arrowsquareleft.svg') !important;
}

.swiper-button-prev {
    top: 80px !important;
    left: 0 !important;
}

.swiper-button-next {
    top: 80px !important;
    right: 0 !important;
}

.swiper-button-next::after {
    content: url('../public/assets/dashboard/arrowsquareright.svg') !important;
}

.indicator {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 10px;
    margin-top: 6px !important;
}

.indicator-image {
    width: 100%;
}

#myChart {
    height: 110px !important;
}

#CircleChart {
    height: 100% !important;
    width: 75% !important;
}

@media (max-width:500px){
    .dashboard-container {
        padding:8px !important;
    }
}
/* dashboard   */

