.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px !important;
}

.input {
    border: 1px solid #D6D6D6;
    border-radius: 51px;
    padding: 10px 70px 8px 0;
    width: 452px;
    max-width: 100%;
    direction: rtl;
    font-family: 'Yekan Bakh Medium' !important;
}

.label {
    background: #FFFFFF;
    border-radius: 10px;
    width: fit-content;
    padding-inline: 10px;
    text-align: center;
    font-family: 'Yekan Bakh Bold' !important;
    font-weight: 700;
    font-size: 14px;
}

.label_parrent {
    margin-bottom: -8px !important;
    z-index: 2;
    width: calc(452px - 66px);
    text-align: end;
}

.input_parrent {
    position: relative;
}

.icon {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 20px;
    border-left: 1px solid #D6D6D6;
    padding-left: 20px;
    height: fit-content;
}

@media (max-width:500px) {
 .input{
    width: 290px !important;
 }   
 .label_parrent {
    width: calc(290px - 66px);
 }
}