.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px !important;
}

.dropdown_toggle {
    border: 1px solid #D6D6D6;
    background: white;
    border-radius: 51px;
    padding: 10px 10px 10px 70px;
    width: 452px;
    max-width: 100%;
    background: #FFFFFF;
    color: #000000;
    font-family: 'Yekan Bakh Bold' !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown_toggle:hover {
    border: 1px solid #D6D6D6;
    background: white;
    border-radius: 51px;
    padding: 10px 0 10px 70px;
    width: 452px;
    max-width: 100%;
    background: #FFFFFF;
    color: #000000;
    margin-left: 10px !important;
    font-family: 'Yekan Bakh Bold' !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: 1px solid #D6D6D6;
    border-radius: 51px;
    padding: 10px 10px 10px 70px;
    width: 452px;
    max-width: 100%;
    color: #000000;
    font-family: 'Yekan Bakh Bold' !important;
}

.dropdownMenu {
    width: 97%;
    max-width: 100%;
    background: #D6D6D6;
    border-radius: 20px;
    height: 300px;
    overflow: auto;
    background: #FFFFFF;
}

.label {
    background: #FFFFFF;
    border-radius: 10px;
    width: fit-content;
    padding-inline: 10px;
    text-align: center;
    font-family: 'Yekan Bakh Bold' !important;
    font-weight: 700;
    font-size: 14px;
}

.label_parrent {
    margin-bottom: -8px !important;
    z-index: 2;
    width: calc(452px - 66px);    
    text-align: start;
}

.input_parrent {
    position: relative;
}

.icon {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 20px;
    border-right: 1px solid #D6D6D6;
    padding-right: 20px;
    height: fit-content;
}

.chooseOnMapText {
    font-family: 'Yekan Bakh Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #388AEA;
    cursor: pointer;
}

@media (max-width:500px) {
    .dropdown_toggle,.input {
        width: 290px !important;
    }

    .label_parrent {
        width: calc(290px - 66px);
    }
}